.navbar {
    background-color: #78182def;
    padding-left: 30px;
    
}

.dropdown-menu.show {
    background-color: #78182d;
}

a.dropdown-item {
    color: white;
}

.mask {
    padding-top: 20px;
    height: 300px;
    margin-top: 30px ;
}

.p-5 {
    background-size: cover;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(pexels-cottonbro-studio-3997387.jpg);
    
    
}

.nomeEmpresa {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

a.btn {
    background-color: #781845;
    color:white;
}

.btn:hover {
    background-color: #af1e3e;
}

a.btn:hover {
    color:white;
}

.separador {
    height: 10px;
    background-color:#af1e3e;
}

.carousel-item {
    height: 400px
}



h2 {
   
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

p  {
    padding: auto;
    color:grey;
    font-family: 'Montserrat', sans-serif;
}


#features {
    padding: 7% 15%; 
}

.feature-box {
    text-align: center;
}

.iconfa {
    width: 70px;
    margin-bottom: 10px;
    color: #af1e3e;
}