html {
    margin: 0;
}


.navbar {
    background-color: #78182def;
    padding-left: 30px;
    
}

.navbar-text {
    color: rgba(255, 255, 255, 0.629);
}

.dropdown-menu.show {
    background-color: #78182d;
}

a.dropdown-item {
    color: white;
}

.mask {
    padding-top: 20px;
    height: 300px;
    margin-top: 30px ;
}

.p-5 {
    background-size: cover;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(pexels-cottonbro-studio-3997387.jpg);
    
    
}

.nomeEmpresa {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

a.btn {
    background-color: #781845;
    color:white;
}

.btn:hover {
    background-color: #af1e3e;
}

a.btn:hover {
    color:white;
}

.separador {
    height: 10px;
    background-color:#af1e3e;
}

.carousel-item {
    height: 400px
}



h2 {
   
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

p  {
    padding: auto;
    color:rgb(156, 156, 156);
    font-family: 'Montserrat', sans-serif;
}


#features {
    padding: 7% 15%;
   
}

.feature-box {
    text-align: center;
}

.fas {
    color:#aa2743;
    margin: 20px;
}

.fas:hover {
    color: #e20574;
    cursor: pointer;
    transform: scale(1.2);
}

.contact {
    color:#e20574;
    font-family: 'Courier New', Courier, monospace;
}

#insta {
    color:#aa2743;
    margin: 20px;
}

#insta:hover {
    color: #e20574;
    cursor: pointer;
    transform: scale(1.1);
}

#footer {
    background-color: #202020;
    text-align: center;

}

#mailto {
    text-decoration: none;
    color: #e20574;
    font-size: 0.9;
    font-family: 'Courier New', Courier, monospace;
}

.copyright1 {
    background-color: #202020;
}

.copyright {
    text-align: left;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    font-size: 0.5rem;
    padding-bottom: 10px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }